.App {
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
}

table {
	border: solid white;
	width: 100%;
}
th {
	padding: 8px;

	color: whitesmoke;
}
tr:hover {
	background-color: #ff6565;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr:nth-child(even):hover {
	background-color: #ff6565;
}
table {
	min-width: 100%;
	border: solid white;
}
th,
td {
	min-width: 50px;
}

.table-wrapper {
	overflow: auto;
	display: block;
}

.top-left {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	margin-left: 10%;
	margin-top: 10px;
}

.btn-fit {
	width: fit-content;
	padding: 0 10px;
	font-size: 20px;
}

.spacing {
	margin-top: 60px;
}
